
.ui-icon-user{
  background-image:url("img/111-user.png");
}

img{
  max-width: 400px;
}

#readreports{
  text-align:center;
  background-color: #e67e22;
  color: white;
  height: 80px;
  opacity: 0.8;
  padding-top: 8px;
}

.ui-content{
  padding: 0;
}

#offline {
  margin-right: 30%;
}

#reportsindex .ui-input-search{
  width:85%;
  margin-left: 2.5%;
}

#reportslist {
  margin: 0;
}

#reportentries {
  text-align: center;
}

.erow1 {
  height:150px;
  padding-top: 60px;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background-color: rgb(238, 62, 168);
  color: white;
}

.erow2 {
  height:150px;
  padding-top: 60px;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background-color: rgb(0, 187, 136);
color: white;
}

.erow3 {
  height:150px;
  padding-top: 60px;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background-color: rgb(0, 136, 221);
color: white;
}

