img{
  max-width: 400px;
}

.ui-content{
  padding: 0;
}

#offline {
  margin-right: 30%;
}

#reportsindex .ui-input-search{
  width:85%;
  margin-left: 2.5%;
}

#reportslist {
  margin: 0;
}

#lenovoindex {
  margin: 0;
}

#reportentries {
  text-align: center;
}

/* footer icon */

#footer-reports:after {
  background-image:url("../img/96-book.png");
  background-size: 14px 14px;
}

#footer-news:after {
  background-image:url("../img/179-notepad.png");
  background-size: 14px 14px;
}

#footer-cases:after {
  background-image:url("../img/191-collection.png");
  background-size: 14px 14px;
}

#footer-dynamic:after {
  background-image:url("../img/77-ekg.png");
  background-size: 14px 14px;
}

#footer-train:after {
  background-image:url("../img/46-movie-2.png");
  background-size: 14px 14px;
}
